.calendar-container {
  width: 230px;
  height: 200px;
}
.react-calendar {
  width: 230px;
  height: 190px;
  margin: 0px;
  background-color: #e6e6e6 !important;
  border: none !important;
  border-bottom-left-radius: 10px !important;
}
.react-calendar button {
  padding: 0px;
}
.react-calendar__viewContainer {
  height: 200px;
}
.react-calendar__month-view {
  height: 200px;
}
.react-calendar__navigation {
  margin-bottom: 0px !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  width: 24px !important;
  background: #ff1010 !important;
  border-radius: 50%;
}
.react-calendar__tile--now {
  width: 24px !important;
  background: #ff1010 !important;
  border-radius: 50%;
}
