/* .modal3 {
  display: flex;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border: 1px solid black;
} */
.modal-content {
  position: absolute;
  padding: 20px;
  border: 1px solid none;
  width: 350px;
  height: 360px;
  font-size: large;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.weather-info {
  position: relative;
  text-align: center;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.weather-info p {
  margin: 5px 0;
}
.weather-info h4 {
  margin: 0px;
  font-size: 1.2em;
}
.close {
  cursor: pointer;
  position: absolute;
  border: none;
  background: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
/* 맑음 */
.clear {
  background-image: url("./img/맑음.png");
}
.clear .futureGray {
  background-color: rgba(188, 227, 253, 0.61);
  border-radius: 10px;
}
.clear .futureGray .futurep {
  color: rgb(236, 235, 235);
}
/* 흐림*/
.clouds {
  background-image: url("./img/흐림.jpg");
}
.clouds .futureGray {
  background-color: rgba(138, 138, 138, 0.61);
  border-radius: 10px;
}
.clouds .futureGray .futurep {
  color: rgb(236, 235, 235);
}
/* 비 */
.rain {
  background-image: url("./img/비.gif");
}
.rain .futureGray {
  background-color: rgba(107, 125, 148, 0.61);
  border-radius: 10px;
}
.rain .futureGray .futurep {
  color: rgb(236, 235, 235);
}
/* 눈 */
.snow {
  background-image: url("./img/눈.gif");
}
.snow .futureGray {
  background-color: rgba(184, 182, 182, 0.479);
  border-radius: 10px;
}
.snow .futureGray .futurep {
  color: rgb(236, 235, 235);
}
/* 뇌우 */
.thunderstorm {
  background-image: url("./img/뇌우.jpg");
}
.thunderstorm .futureGray {
  background-color: rgba(70, 69, 69, 0.74);
  border-radius: 10px;
}
.thunderstorm .futureGray .futurep {
  color: rgb(236, 235, 235);
}
/* 안개 */
.mist {
  background-image: url("./img/안개.jpg");
}
.mist .futureGray {
  background-color: rgba(70, 69, 69, 0.74);
  border-radius: 10px;
}
.mist .futureGray .futurep {
  color: rgb(236, 235, 235);
}
.modal-content.clear,
.modal-content.clouds,
.modal-content.rain,
.modal-content.snow,
.modal-content.thunderstorm,
.modal-content.mist {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 385px;
}

.ppp {
  font-size: 15px;
}
.width {
  display: flex;
  height: 150px;
}
.width h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.widwid {
  margin: 10px;
  text-align: center;
  margin-top: 30px;
}
.small-icon {
  width: 25px;
  height: 25px;
}
.futureGray {
  margin-top: 15px;
}
.futurep {
  font-size: 0.8rem;
  padding-top: 10px;
  color: rgb(175, 173, 173);
  margin-left: 0px;
}
hr {
  width: 90%;
  color: rgb(204, 204, 204);
  border: 0.5px solid rgb(204, 204, 204);
  margin-left: 15px;
}
#weather {
  font-size: 1rem;
  margin: 0px;
}
#today {
  font-size: 1rem;
  margin: 0px;
}
#temp {
  font-size: 5em;
  font-weight: lighter;
  margin-bottom: 10px;
  padding: 0px;
}
