body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: url(image/프로젝트이미지.png);

  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 80%;
  margin: 0 auto;
}
header {
  background: #333;
  color: #fff;
  padding: 1em 0;
}
header h1 {
  margin: 0;
  font-size: 2em;
}
header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
}
.main-banner {
  background: url("paris.jpg") no-repeat center center/cover;
  color: #000000;
  text-align: center;
  padding: 4em 0;
}
.main-banner h2 {
  font-size: 2.5em;
  margin: 0 0 0.5em;
}
.main-banner p {
  font-size: 1.2em;
  margin: 0 0 1em;
}
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  background: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.packages,
.reviews,
.blog,
.contact {
  padding: 2em 0;
}
.packages h2,
.reviews h2,
.blog h2,
.contact h2 {
  font-size: 2em;
  margin-bottom: 1em;
}
.package-list,
.review-list,
.blog-list {
  display: flex;
  justify-content: space-between;
}
.package-item,
.review-item,
.blog-item {
  background: #f4f4f4;
  padding: 1em;
  border-radius: 5px;
  width: 30%;
  text-align: center;
}
.package-item h3,
.review-item h4,
.blog-item h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}
