#test {
  background-color: indianred;
  background-clip: border-box;
}
#border1 {
  color: white;
  border: 1px solid;
  width: 300px;
  height: 400px;
  border-radius: 8px;
}
#test {
  background-image: url(../../resources/bao.jpg);
  border: 1px;
  height: 120px;
  width: 120px;
  border-radius: 100px;
  background-position: center;
}
#Git {
  width: 200px;
  height: 100px;
  white-space: ;
}

#bao {
  color: white;
}
