header {
  background-color: white;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding: 15px;
}
header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 15px;
}
header nav a {
  background-color: pink;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}
header nav {
  background-color: yellow;
  display: flex;
}
header nav a:hover {
  background-color: black;
  color: white;
}
